{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}

    <fieldset>
        <form action="/produtos/edit-save" method="post">
            <div>
                <label for="nm_produto">Nome: </label>
                <input type="text" name="nm_produto" id="nm_produto">
            </div>
            <div>
                <label for="preco">Preco: </label>
                <input type="number" name="preco" id="preco">
            </div>
            <div>
                <label for="fornecedor">Fornecedor: </label>
                <select name="id_fornecedor" id="fornecedor">
                    <option value=""></option>
                    {% for f in fornecedores %}
                    <option value="{{p.id}}">{{f.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="id" id="id" value="{{dados.id}}">
            <button type="submit">Salvar</button>
        </form>
    </fieldset>

{% endblock %}