{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="adicionar">
        <a href="/produtos/add">+Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Preco</th>
            <th>Fornecedor</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for produto in dados %}
        <tr>
            <td>{{produto.nm_produto}}</td>
            <td>{{produto.preco}}</td>
            <td>{{produto.fornecedor.nome}}</td>
            <td><a href="/produtos/edit/{{produto.id}}">[✎]</a></td>
            <td><a href="/produtos/remove/{{produto.id}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}