{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}

    <fieldset>
        <form action="/fornecedores/edit-save" method="post">
            <div>
                <label for="nome">Nome: </label>
                <input type="text" name="nome" id="nome">
            </div>
            <div>
                <label for="contato">Contato: </label>
                <input type="text" name="contato" id="contato">
            </div>
            <input type="hidden" name="id" id="id" value="{{dados.id}}">
            <button type="submit">Salvar</button>
        </form>
    </fieldset>

{% endblock %}