{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
    
    <div class="adicionar">
        <a href="/fornecedores/add">+Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Contato</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for fornecedor in dados %}
        <tr>
            <td>{{fornecedor.nome}}</td>
            <td>{{fornecedor.contato}}</td>
            <td><a href="/fornecedores/edit/{{fornecedor.id}}">[✎]</a></td>
            <td><a href="/fornecedores/remove/{{fornecedor.id}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}